/***********************************************

Formatting to-dos
Would be keen to learn how to do this sort of thing with an SSG that makes it really easy for end users.

*************************************************/


* {
    margin: 0px;
    padding: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    box-sizing: border-box;
    table-layout: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: #51534a;
}

:root {
    --header-height: 15em;
    --unscrolled-font-size: 10px;
    --scrolled-font-size: 5px;
    --sidebar-width: max(20%, 200px);
    scroll-padding-top: 60px;
    font-size: 10px;
}

/*********** LARGE - 916+ designing for 1280-1536px **********/
/*** HEADER STYLES ***/

header {
    font-size: var(--responsive-font-size);
    height: var(--header-height);
    background-color: #51534a;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.25s;
}

header.scrolled {
    font-size: var(--scrolled-font-size);
}

header nav {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

img {
    height: 9em;
    margin: 0px 0.4em;
}

header div {
    margin: 0px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 3.5em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

#header-trigger {
    height: 150px;
    transition: 0.25s;
}

div.scrolled {
    height: 130px;
}

/*** SIDEBAR STYLES***/

/*sidebar button*/

#sidebar-toggle {
    width: 50px;
    height: 50px;
    position: fixed;
    font-size: var(--responsive-font-size);
    left: var(--sidebar-width);
    top: var(--header-height);
    transition: 0.25s;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf9f5;
    border: solid #51534a 1px;
}

#sidebar-toggle.scrolled {
    font-size: var(--scrolled-font-size);
}

#sidebar-toggle div {
    background-color: #51534a;
    height: 5px;
    transition: .4s;
}

#sidebar-toggle.hamburger div {
    width: 35px;
    margin: 3px 0;
    border-radius: 10px;
}

#sidebar-toggle div.arrow {
    height: 4px;
}

#sidebar-toggle.arrow div:nth-of-type(1) {
    width: 19px;
    border-radius: 0 10px 10px 0;
    transform: rotate(-45deg);
    margin: 6px 20px 0 0;
}

#sidebar-toggle.arrow div:nth-of-type(2) {
    width: 34px;
    margin: 2px 3px 2px 0;
    border-radius: 10px;
}

#sidebar-toggle.arrow div:nth-of-type(3) {
    width: 19px;
    border-radius: 0 10px 10px 0;
    transform: rotate(45deg);
    margin: 0 20px 6px 0;
}

#sidebar-toggle.active {
    left: 0px;
}

/*sidebar*/

nav#sidebar {
    position: fixed;
    font-size: var(--responsive-font-size);
    top: var(--header-height);
    left: 0px;
    display: flex;
    height: calc(100vh - var(--header-height));
    flex-direction: column;
    width: var(--sidebar-width);
    flex-grow: 1;
    flex-shrink: 1;
    transition: 0.25s;
    background-color: #702082;
    border-top: #fff solid 1px;
    padding-top: 12px;
}

nav#sidebar.scrolled {
    font-size: var(--scrolled-font-size)
}

nav#sidebar.active {
    left: min(-200px, -20%);
}

nav#sidebar ul {
    padding: 0 1vw 0 2vw;
    padding-bottom: 1.5vw;
    font-size: 1.6rem;
    list-style: none;
}

.btn-wrapper {
    display: flex;
    position: relative;
}

nav#sidebar .sidelist-toggle {
    content: "‣";
    font-size: 3rem;
    line-height: 1.6rem;
    transition: 0.25s;
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    color: #fff;
    border: none;
    position: absolute;
    top: 0.2rem;
    left: -2.7rem;
}

nav#sidebar .sidelist-toggle.toggled {
    transform: rotate(90deg);
    vertical-align: -50%;
}

nav#sidebar ul li {
    padding: 0.25em 0;
    color: #fff;
}

nav#sidebar ul a {
    color: #fff;
}

nav#sidebar .H1 {
    font-weight: 700;
    font-size: 2rem;
}

nav#sidebar a:first-of-type {
    text-decoration: none;
}

nav#sidebar .H2 {
    font-weight: 700;
}

nav#sidebar .H3 {
    padding-left: 1.5vw
}

nav#sidebar .H4 {
    padding-left: 3vw;
}

/*** MAIN STYLES ***/

main {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 2vw;
    max-width: 775px;
    background-color: #faf9f5;
    flex-basis: 60vh;
    min-width: min(90vw, 775px);
    flex-shrink: 1;
    flex-grow: 1;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: clamp(26px, 20.537px + 0.597vw, 32px);
    color: #702082;
    grid-row: 2;
    margin-bottom: 2rem;
}

main h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(26px, 20.537px + 0.597vw, 32px);
    color: #702082;
    margin-bottom: 5px;
    text-transform: uppercase;
    margin-top: 1.8rem;
}

main h2~p {
    line-height: 150%;
    margin-bottom: 15px;
}

main h3 {
    color: #00629B;
    margin-left: 20px;
    text-transform: uppercase;
    margin-top: 1.4rem;
    margin-bottom: 0.4rem;
}

main h3~p {
    margin-left: 20px;
}

main h4 {
    /* Always nest in an ordered list */
    color: #702082;
    margin-left: 20px;
    margin-top: 1.2rem;
    margin-bottom: 0.3rem;
}

main h4~p {}

main h4~ul {
    margin-left: 40px;
}

main h4~ul>li {
    list-style: none;
}

main h4~ul>ul {
    margin-left: 20px;
}

main li {
    padding-bottom: 1rem;
}

/* DOCUMENT CONTROL TABLE*/

.doc-control {
    display: inline-grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    margin-bottom: 20px;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.doc-control dt,
.doc-control dd {
    padding: 5px;
    border-left: 1px black solid;
    border-top: 1px black solid;
}

.doc-control dt {
    background-color: #51534a;
    color: #fff;
}

/* VERSION CONTROL TABLE */

th {
    background-color: #51534a;
    color: #fff;
    text-align: left;
    font-weight: normal;
}

th,
td {
    border: 1px solid black;
    padding: 5px;
}

/*********** MEDIUM - 640-915px designing for 760-900px ************/

@media (max-width: 915px) {

    /*** HEADER STYLES ***/
    :root {
        --unscrolled-font-size: 8px;
    }

    header {
        font-size: var(--unscrolled-font-size);
    }

    #header-trigger {
        height: 120px;
    }

    /*** MAIN STYLES ***/
    #sidebar-toggle {
        font-size: var(--unscrolled-font-size);
    }

    nav#sidebar {
        font-size: var(--unscrolled-font-size);
    }

    main .wrapper {
        margin: 15px 5% 20px 5%;
        padding: 3vw;
    }


    main h2 {
        font-size: clamp(22px, 12.739px + 1.449vw, 26px);
    }
}


/*********** SMALL - 320-639 designing for 360-414px ***********/

@media (max-width: 639px) {

    :root {
        --unscrolled-font-size: 6px;
        --scrolled-font-size: 4px;
        scroll-padding-top: 45px;
    }

    /*** HEADER STYLES ***/

    header,
    nav#sidebar {
        font-size: var(--unscrolled-font-size);
    }

    header.scrolled,
    nav#sidebar.scrolled {
        font-size: var(--scrolled-font-size);
    }

    #header-trigger {
        height: 100px;
    }

    /*** MAIN STYLES ***/
    #sidebar-toggle {
        font-size: var(--unscrolled-font-size);
    }

    #sidebar-toggle.scrolled {
        font-size: var(--scrolled-font-size);
    }

    main .wrapper {
        margin: 10px 4% 20px 4%;
        padding: 4vw;
    }

    main h2 {
        font-size: clamp(20px, 5.974921630093px + 2.507836990596vw, 22px);
    }

    /* DOC CONTROL TABLE */
    .doc-control {
        grid-template-columns: 100%;
    }

}