/***********************************************

Notes about where I'm up to here

*************************************************/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    --lgeh1-font-size: clamp(28px, 20.716px + 0.796vw, 36px);
    --medh1-font-size: clamp(26px, 16.739px + 1.45vw, 30px);
    --smlh1-font-size: clamp(16px, 5.969px + 3.135vw, 26px);
    --header-logo-height: clamp(104px, 54.85px + 5.37vw, 158px);
}

/*********** LARGE - 916+ designing for 1280-1536px **********/
/*** HEADER STYLES ***/

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header .container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
}

h1 {
    grid-column: 1/2;
    grid-row: 1;
    align-self: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: var(--lgeh1-font-size);
}

div .logos,
.logos img {
    height: var(--header-logo-height);
    grid-column: 2/3;
    grid-row: 1;
    align-self: center;
}

header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(26px, 20.537px + 0.597vw, 32px);
    color: #00629B;
    grid-row: 2;
    margin-bottom: 10px;
}

/*** MAIN STYLES ***/

main .wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 15% 0 15%;
    /* max size - need to clamp? */
}

/* DOCUMENT CONTROL TABLE*/

.doc-control {
    display: inline-grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    margin: 40px 0px 30px 0px;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.doc-control dt,
.doc-control dd {
    padding: 5px;
    border-left: 1px black solid;
    border-top: 1px black solid;
}

.doc-control dt {
    background-color: #51534a;
    color: #fff;
}

/* BODY */

main h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: clamp(26px, 20.537px + 0.597vw, 32px);
    color: #00629B;
}

/*********** MEDIUM - 640-915px designing for 760-900px ************/

@media (max-width: 915px) {

    /*** HEADER STYLES ***/
    h1 {
        grid-column: 1/3;
        grid-row: 2/3;
        font-size: var(--medh1-font-size);
        align-self: center;
        margin-top: 5px;
    }

    div .logos,
    .logos img {
        height: 104px;
        /* static size */
        grid-column: 1/3;
        margin-left: auto;
        margin-right: auto;
    }

    header h2 {
        font-size: clamp(22px, 12.739px + 1.449vw, 26px);
        grid-row: 3/4;
        margin-top: 3px;
        margin-bottom: 12px;
    }

    /*** MAIN STYLES ***/
    main .wrapper {
        margin: 0 5% 0 5%;
        /* possibly clamp? */
    }

    main h2 {
        font-size: clamp(22px, 12.739px + 1.449vw, 26px);
    }
}


/*********** SMALL - 320-639 designing for 360-414px ***********/

@media (max-width: 639px) {

    /*** HEADER STYLES ***/
    h1 {
        font-size: var(--smlh1-font-size);
    }

    div .logos,
    .logos img {
        height: clamp(78px, 51.918px + 8.15vw, 104px);
    }

    header h2 {
        font-size: clamp(14px, 5.974921630093px + 2.507836990596vw, 22px);
    }

    /*** MAIN STYLES ***/
    main .wrapper {
        margin: 0 0 0 0;
    }

    main h2 {
        font-size: clamp(14px, 5.974921630093px + 2.507836990596vw, 22px);
    }

    /* DOC CONTROL TABLE */
    .doc-control {
        grid-template-columns: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

}